ar-lib 
compile
config.guess 
config.sub 
install-sh 
missing 
INSTALL 
depcomp
aclocal.m4
*.in
**/Makefile
configure
*~
.deps
config.log
config.status
src/config.h
*.o
*.a
**/stamp-h1
test_table
*cache
nbproject
.idea
.vscode

